<div class="mainContainer container-fluid">
  <div class="row vh-100">

    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-6 colStyle" id="menuCol">
      <h4 class="marginTop">Welcome, David</h4>
      <button class="btn btn-primary marginTop" (click)="onAddEmail()">Compose</button>
      <br>
      <ul class="marginTop">
        <li><a [ngClass]="{active: currentMenuItem ==='Inbox'}" href="#" (click)="setMenuItem($event, 'Inbox')">
          Inbox ({{(emails|filterEmails:'Inbox').length}})</a></li>

        <li><a [ngClass]="{active: currentMenuItem ==='Tagged'}" href="#" (click)="setMenuItem($event,'Tagged')">
          Tagged ({{(emails|filterEmails:'Tagged').length}})</a></li>

        <li><a [ngClass]="{active: currentMenuItem ==='Important'}"href="#" (click)="setMenuItem($event,'Important')">
          Important ({{(emails|filterEmails:'Important').length}})</a></li>

        <li><a [ngClass]="{active: currentMenuItem ==='Sent'}" href="#" (click)="setMenuItem($event,'Sent')">
          Sent ({{(emails|filterEmails:'Sent').length}})</a></li>

        <li><a [ngClass]="{active: currentMenuItem ==='Drafts'}" href="#" (click)="setMenuItem($event,'Drafts')">
          Drafts ({{(emails|filterEmails:'Drafts').length}})</a></li>
          
        <li><a [ngClass]="{active: currentMenuItem ==='Trash'}" href="#" (click)="setMenuItem($event,'Trash')">
          Trash ({{(emails|filterEmails:'Trash').length}})</a></li>
      </ul>
    </div>

    <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-6 col-sm-6" id="emailListCol">
      <app-emails (emailCancelTrigger)="onCancelEmail()" [currentMenuItemClicked]="getMenuItem()" [emailBeingAdded]="emailBeingAdded"></app-emails>
    </div>

  </div>
</div>